body {
    background-image: url('background.jpg'); /* Orqa fon rasmi */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.film-card {
    background: rgba(255, 255, 255, 0.9); /* Oq rangda shaffoflik */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
}

.film-card video {
    border-radius: 10px;
}